@media (max-width:950px) {
    form {
        width: 100%;  
    }
    .about {
        .indent {
            width: 100%;
        }
    }
    .portfolio {
        li {
            .contentContainer {
                flex-direction: column;
                align-items: flex-start;
            }
            h3 {
                width: 100%;
            }
            .content {
                width: 100%;
            }
        }
        li:hover,
        li:focus {
            .imageContainer {
                width: 70%;
            }
        }
    }
    .contact {
        p {
            width: 100%;
        }
    }
}
@media (max-width:680px) {
    header {
        .heading {
            margin-left: 10vw;
        }
    }
    nav.headMenu ul{
        visibility: hidden;
    }
    nav.burgerMenu {
        visibility: visible;
    }
    .portfolio {
        li:hover,
        li:focus {
            .imageContainer {
                width: 100%;
            }
        }
    }
}
@media (max-width:540px) {
    header {
        .heading {
            margin-left: 0;
        }
    }
    section {
        padding: 40px 0;
        div.indent {
            margin-left: 0;
        }
    }
    .toolkit {
        ul {
            li {
                text-align: center;
            }
            i {
                font-size: 2rem;
            }
            .fa-desktop {
                font-size: 1.8rem;
            }
            .fa-mobile-alt {
                font-size: 1.2rem;
            }
        }
    }
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        p {
            color: $darkBlue;
            font-size: 0.8rem;
            padding: 0;
            margin: 0;
        }
    }
}