/* color palette*/
$mistyRose: rgba(255, 225, 217, 1);
$darkBlue: rgba(57, 76, 152, 1);
$black: rgba(18, 20, 28, 1);
$white: rgba(255, 255, 255, 1);
$grey: rgba(187, 187, 187, 1);

/* font family*/
$antic: 'Antic Didone', serif;
$nunito: 'Nunito', sans-serif;

// rgba(5, 22, 136, 1);